ul#niceslider{
    list-style: none;
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

ul#niceslider li{
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    left:400px;
}
ul#niceslider-controls{position: relative;}
ul#niceslider-controls li{
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
}

ul#niceslider li.niceslider-active{left:0px;}

ul#niceslider li.niceslider-hide-left{left:-400px !important;}
ul#niceslider li.niceslider-show-left{left:0px !important;}

ul#niceslider li.niceslider-hide-left{right:-400px !important;}
ul#niceslider li.niceslider-show-left{right:0px !important;}